table {
  border-collapse: collapse;
  margin-left:60px;

}
th {
  height: 50px;
  text-align: center;
  background-color: lightseagreen;
  color: white;
}
table, th, td{
  border: 2px solid black;
}

td{
  height: 50px;
  text-align:center;
  background-color : white;
}
tr:hover
{background-color: blue}
